In [1]:
from pykdb import Indices
from datetime import datetime

start = datetime(2016, 1, 4)
end = datetime(2016, 1, 10)

obj = Indices()

In [2]:
obj.symbols[0:10]

['I101',
 'I102',
 'I103',
 'I104',
 'I105',
 'I111',
 'I112',
 'I113',
 'I114',
 'I115']

In [3]:
obj.names['I101']

'日経平均株価'

In [5]:
# 指定銘柄の時系列データ取得
# freq 頻度を指定('1d', '4h', '1h', '30m', '15m', '5m')
df = obj.price(date_from=start, date_to=end, symbol='I101', freq='1d')
df.head(10)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>始値</th>
      <th>高値</th>
      <th>安値</th>
      <th>終値</th>
    </tr>
    <tr>
      <th>日付</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2016-01-04</th>
      <td>18818.58</td>
      <td>18951.12</td>
      <td>18394.43</td>
      <td>18450.98</td>
    </tr>
    <tr>
      <th>2016-01-05</th>
      <td>18398.76</td>
      <td>18547.38</td>
      <td>18327.52</td>
      <td>18374.00</td>
    </tr>
    <tr>
      <th>2016-01-06</th>
      <td>18410.57</td>
      <td>18469.38</td>
      <td>18064.30</td>
      <td>18191.32</td>
    </tr>
    <tr>
      <th>2016-01-07</th>
      <td>18139.77</td>
      <td>18172.04</td>
      <td>17767.34</td>
      <td>17767.34</td>
    </tr>
    <tr>
      <th>2016-01-08</th>
      <td>17562.23</td>
      <td>17975.31</td>
      <td>17509.64</td>
      <td>17697.96</td>
    </tr>
  </tbody>
</table>
</div>

In [2]:
# 全銘柄の時系列データ取得
# session セッションを指定(None=全部, 'a'=前場, 'b'=後場) 省略時は全部
df = obj.price_all(date_from=start, date_to=end)
df.head(10)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>始値</th>
      <th>高値</th>
      <th>安値</th>
      <th>終値</th>
    </tr>
    <tr>
      <th>日付</th>
      <th>指数</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="10" valign="top">2016-01-04</th>
      <th>JASDAQ INDEX</th>
      <td>115.47</td>
      <td>116.17</td>
      <td>114.88</td>
      <td>114.95</td>
    </tr>
    <tr>
      <th>JASDAQ INDEX グロース</th>
      <td>203.46</td>
      <td>209.80</td>
      <td>203.15</td>
      <td>204.68</td>
    </tr>
    <tr>
      <th>JASDAQ INDEX スタンダード</th>
      <td>247.61</td>
      <td>248.91</td>
      <td>246.27</td>
      <td>246.41</td>
    </tr>
    <tr>
      <th>JASDAQ-TOP20</th>
      <td>3878.67</td>
      <td>3937.09</td>
      <td>3832.22</td>
      <td>3851.05</td>
    </tr>
    <tr>
      <th>JPX日経インデックス400</th>
      <td>13816.70</td>
      <td>13921.89</td>
      <td>13560.46</td>
      <td>13597.24</td>
    </tr>
    <tr>
      <th>TOPIX</th>
      <td>1532.53</td>
      <td>1544.73</td>
      <td>1506.27</td>
      <td>1509.67</td>
    </tr>
    <tr>
      <th>TOPIX 100</th>
      <td>986.40</td>
      <td>995.94</td>
      <td>970.32</td>
      <td>972.87</td>
    </tr>
    <tr>
      <th>TOPIX 1000</th>
      <td>1448.84</td>
      <td>1460.55</td>
      <td>1423.79</td>
      <td>1427.21</td>
    </tr>
    <tr>
      <th>TOPIX 500</th>
      <td>1193.08</td>
      <td>1202.95</td>
      <td>1172.41</td>
      <td>1175.41</td>
    </tr>
    <tr>
      <th>TOPIX 500 グロース</th>
      <td>1902.48</td>
      <td>1913.70</td>
      <td>1864.69</td>
      <td>1869.42</td>
    </tr>
  </tbody>
</table>
</div>