In [16]:
from pykdb import Stocks
from datetime import datetime

start = datetime(2016, 1, 4)
end = datetime(2016, 1, 10)

f = Stocks()

In [17]:
f.symbols[0:10]

['1301-T',
 '1305-T',
 '1306-T',
 '1308-T',
 '1309-T',
 '1310-T',
 '1311-T',
 '1312-T',
 '1313-T',
 '1314-T']

In [18]:
f.names['8411-T']

'8411-T みずほ'

In [20]:
# 指定銘柄の時系列データ取得
# freq 頻度を指定('1d', '4h', '1h', '30m', '15m', '5m')
df = f.price(date_from=start, date_to=end, symbol='8411-T', freq='1d')
df.head(10)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>始値</th>
      <th>高値</th>
      <th>安値</th>
      <th>終値</th>
      <th>出来高</th>
      <th>売買代金</th>
    </tr>
    <tr>
      <th>日付</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2016-01-04</th>
      <td>241.0</td>
      <td>244.4</td>
      <td>238.9</td>
      <td>239.7</td>
      <td>115784400</td>
      <td>27864941230</td>
    </tr>
    <tr>
      <th>2016-01-05</th>
      <td>238.9</td>
      <td>241.0</td>
      <td>238.6</td>
      <td>239.5</td>
      <td>129385900</td>
      <td>31022826240</td>
    </tr>
    <tr>
      <th>2016-01-06</th>
      <td>240.5</td>
      <td>241.8</td>
      <td>235.4</td>
      <td>236.5</td>
      <td>133756300</td>
      <td>31805845970</td>
    </tr>
    <tr>
      <th>2016-01-07</th>
      <td>236.0</td>
      <td>237.2</td>
      <td>230.1</td>
      <td>231.0</td>
      <td>181078800</td>
      <td>42136100460</td>
    </tr>
    <tr>
      <th>2016-01-08</th>
      <td>229.1</td>
      <td>233.5</td>
      <td>228.7</td>
      <td>229.4</td>
      <td>167988400</td>
      <td>38707250960</td>
    </tr>
  </tbody>
</table>
</div>

In [14]:
# 全銘柄の時系列データ取得
# session セッションを指定(None=全部, 'a'=前場, 'b'=後場) 省略時は全部
df = f.price_all(date_from=start, date_to=end)
df.head(10)