In [3]:
from pykdb import Stocks
from datetime import datetime

start = datetime(2016, 1, 4)
end = datetime(2016, 1, 10)

obj = Stocks()

In [17]:
obj.symbols[0:10]

['1301-T',
 '1305-T',
 '1306-T',
 '1308-T',
 '1309-T',
 '1310-T',
 '1311-T',
 '1312-T',
 '1313-T',
 '1314-T']

In [18]:
obj.names['8411-T']

'8411-T みずほ'

In [20]:
# 指定銘柄の時系列データ取得
# freq 頻度を指定('1d', '4h', '1h', '30m', '15m', '5m')
df = obj.price(date_from=start, date_to=end, symbol='8411-T', freq='1d')
df.head(10)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>始値</th>
      <th>高値</th>
      <th>安値</th>
      <th>終値</th>
      <th>出来高</th>
      <th>売買代金</th>
    </tr>
    <tr>
      <th>日付</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2016-01-04</th>
      <td>241.0</td>
      <td>244.4</td>
      <td>238.9</td>
      <td>239.7</td>
      <td>115784400</td>
      <td>27864941230</td>
    </tr>
    <tr>
      <th>2016-01-05</th>
      <td>238.9</td>
      <td>241.0</td>
      <td>238.6</td>
      <td>239.5</td>
      <td>129385900</td>
      <td>31022826240</td>
    </tr>
    <tr>
      <th>2016-01-06</th>
      <td>240.5</td>
      <td>241.8</td>
      <td>235.4</td>
      <td>236.5</td>
      <td>133756300</td>
      <td>31805845970</td>
    </tr>
    <tr>
      <th>2016-01-07</th>
      <td>236.0</td>
      <td>237.2</td>
      <td>230.1</td>
      <td>231.0</td>
      <td>181078800</td>
      <td>42136100460</td>
    </tr>
    <tr>
      <th>2016-01-08</th>
      <td>229.1</td>
      <td>233.5</td>
      <td>228.7</td>
      <td>229.4</td>
      <td>167988400</td>
      <td>38707250960</td>
    </tr>
  </tbody>
</table>
</div>

In [4]:
# 全銘柄の時系列データ取得
# session セッションを指定(None=全部, 'a'=前場, 'b'=後場) 省略時は全部
df = obj.price_all(date_from=start, date_to=end)
df.head(10)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>銘柄名</th>
      <th>市場</th>
      <th>始値</th>
      <th>高値</th>
      <th>安値</th>
      <th>終値</th>
      <th>出来高</th>
      <th>売買代金</th>
    </tr>
    <tr>
      <th>日付</th>
      <th>コード</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="10" valign="top">2016-01-04</th>
      <th>1301-T</th>
      <td>極洋</td>
      <td>東証1部</td>
      <td>280</td>
      <td>282</td>
      <td>274</td>
      <td>275</td>
      <td>320000</td>
      <td>88904000</td>
    </tr>
    <tr>
      <th>1305-T</th>
      <td>ETFTPX</td>
      <td>東証</td>
      <td>1595</td>
      <td>1607</td>
      <td>1567</td>
      <td>1573</td>
      <td>495960</td>
      <td>779906110</td>
    </tr>
    <tr>
      <th>1306-T</th>
      <td>TOPIX投</td>
      <td>東証</td>
      <td>1573</td>
      <td>1587</td>
      <td>1546</td>
      <td>1552</td>
      <td>4485720</td>
      <td>6992863320</td>
    </tr>
    <tr>
      <th>1308-T</th>
      <td>上場TPX</td>
      <td>東証</td>
      <td>1558</td>
      <td>1568</td>
      <td>1531</td>
      <td>1532</td>
      <td>1155800</td>
      <td>1778248800</td>
    </tr>
    <tr>
      <th>1309-T</th>
      <td>上証50連</td>
      <td>東証</td>
      <td>33000</td>
      <td>33000</td>
      <td>30450</td>
      <td>30650</td>
      <td>2582</td>
      <td>80847450</td>
    </tr>
    <tr>
      <th>1310-T</th>
      <td>ETF･コア30</td>
      <td>東証</td>
      <td>744</td>
      <td>744</td>
      <td>731</td>
      <td>731</td>
      <td>950</td>
      <td>703190</td>
    </tr>
    <tr>
      <th>1311-T</th>
      <td>TOPIX30</td>
      <td>東証</td>
      <td>771</td>
      <td>771</td>
      <td>752</td>
      <td>754</td>
      <td>6230</td>
      <td>4749400</td>
    </tr>
    <tr>
      <th>1312-T</th>
      <td>RN小型コア</td>
      <td>東証</td>
      <td>17650</td>
      <td>17650</td>
      <td>17650</td>
      <td>17650</td>
      <td>1</td>
      <td>17650</td>
    </tr>
    <tr>
      <th>1313-T</th>
      <td>KODEX200</td>
      <td>東証</td>
      <td>2429</td>
      <td>2429</td>
      <td>2404</td>
      <td>2404</td>
      <td>70</td>
      <td>168770</td>
    </tr>
    <tr>
      <th>1314-T</th>
      <td>上場新興</td>
      <td>東証</td>
      <td>1086</td>
      <td>1101</td>
      <td>1081</td>
      <td>1081</td>
      <td>3000</td>
      <td>3291500</td>
    </tr>
  </tbody>
</table>
</div>