In [1]:
from pykdb import Statistics
from datetime import datetime

start = datetime(2016, 1, 4)
end = datetime(2016, 1, 10)

f = Statistics()

In [2]:
f.symbols[0:10]

['T1',
 'T2',
 'TM',
 'JQS',
 'JQG',
 'T1-I201',
 'T1-I202',
 'T1-I203',
 'T1-I204',
 'T1-I205']

In [3]:
f.names['T1']

'東証1部'

In [5]:
# 指定銘柄の時系列データ取得
# freq 頻度を指定('1d')
df = f.price(date_from=start, date_to=end, symbol='T1', freq='1d')
df.head(10)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>出来高</th>
      <th>売買代金</th>
      <th>全銘柄数</th>
      <th>値付き</th>
      <th>値上がり</th>
      <th>変わらず</th>
      <th>値下がり</th>
      <th>比較不可</th>
    </tr>
    <tr>
      <th>日付</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2016-01-04</th>
      <td>1986571900</td>
      <td>2265359091960</td>
      <td>1935</td>
      <td>1935</td>
      <td>170</td>
      <td>53</td>
      <td>1712</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2016-01-05</th>
      <td>1923643900</td>
      <td>2201308384110</td>
      <td>1935</td>
      <td>1935</td>
      <td>796</td>
      <td>130</td>
      <td>1009</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2016-01-06</th>
      <td>2076183000</td>
      <td>2430756382140</td>
      <td>1935</td>
      <td>1935</td>
      <td>359</td>
      <td>83</td>
      <td>1493</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2016-01-07</th>
      <td>2374865400</td>
      <td>2833837654240</td>
      <td>1935</td>
      <td>1935</td>
      <td>239</td>
      <td>49</td>
      <td>1647</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2016-01-08</th>
      <td>2591243900</td>
      <td>3201786662910</td>
      <td>1935</td>
      <td>1935</td>
      <td>377</td>
      <td>92</td>
      <td>1466</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
# 全銘柄の時系列データ取得
# session セッションを指定(None=全部) 省略時は全部
df = f.price_all(date_from=start, date_to=end)
df.head(10)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>出来高</th>
      <th>売買代金</th>
      <th>全銘柄数</th>
      <th>値付き</th>
      <th>値上がり</th>
      <th>変わらず</th>
      <th>値下がり</th>
      <th>比較不可</th>
    </tr>
    <tr>
      <th>日付</th>
      <th>市場</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="10" valign="top">2016-01-04</th>
      <th>JQグロース</th>
      <td>12706600</td>
      <td>5367917700</td>
      <td>44</td>
      <td>43</td>
      <td>24</td>
      <td>1</td>
      <td>16</td>
      <td>3</td>
    </tr>
    <tr>
      <th>JQスタンダード</th>
      <td>156626100</td>
      <td>69626983300</td>
      <td>747</td>
      <td>700</td>
      <td>265</td>
      <td>82</td>
      <td>326</td>
      <td>74</td>
    </tr>
    <tr>
      <th>東証1部</th>
      <td>1986571900</td>
      <td>2265359091960</td>
      <td>1935</td>
      <td>1935</td>
      <td>170</td>
      <td>53</td>
      <td>1712</td>
      <td>0</td>
    </tr>
    <tr>
      <th>東証1部_その他製品</th>
      <td>12567200</td>
      <td>32389924900</td>
      <td>55</td>
      <td>55</td>
      <td>5</td>
      <td>1</td>
      <td>49</td>
      <td>0</td>
    </tr>
    <tr>
      <th>東証1部_その他金融業</th>
      <td>33068200</td>
      <td>29210480650</td>
      <td>22</td>
      <td>22</td>
      <td>0</td>
      <td>0</td>
      <td>22</td>
      <td>0</td>
    </tr>
    <tr>
      <th>東証1部_ガラス土石製品</th>
      <td>43063900</td>
      <td>23250235600</td>
      <td>33</td>
      <td>33</td>
      <td>4</td>
      <td>1</td>
      <td>28</td>
      <td>0</td>
    </tr>
    <tr>
      <th>東証1部_ゴム製品</th>
      <td>7310500</td>
      <td>19252825200</td>
      <td>11</td>
      <td>11</td>
      <td>0</td>
      <td>0</td>
      <td>11</td>
      <td>0</td>
    </tr>
    <tr>
      <th>東証1部_サービス業</th>
      <td>53722600</td>
      <td>106831259550</td>
      <td>152</td>
      <td>152</td>
      <td>33</td>
      <td>8</td>
      <td>111</td>
      <td>0</td>
    </tr>
    <tr>
      <th>東証1部_パルプ・紙</th>
      <td>10027100</td>
      <td>6013978600</td>
      <td>11</td>
      <td>11</td>
      <td>1</td>
      <td>3</td>
      <td>7</td>
      <td>0</td>
    </tr>
    <tr>
      <th>東証1部_不動産業</th>
      <td>45426800</td>
      <td>66619776200</td>
      <td>54</td>
      <td>54</td>
      <td>4</td>
      <td>1</td>
      <td>49</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>